<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Flights </title>
</head>
<body>
<style type="text/css">
        h1, body{
            font-family: Verdana;
            font-style:  normal;
        }
        table{
            border: 1px solid lightsteelblue;
            font-family: Verdana;
        }
        th, td{
            border: 1px solid lightsteelblue;
            padding:  15px; 
            text-align: left;
        }
        tr:not(:first-child):hover{
            background-color: lightsteelblue;
        }

    </style>
<h1>Your Flights...</h1>

<table>
    <th>Airline name</th>
    <th>Flight no.</th>
    <th>Departure Date</th>
    <th>Arrival Date</th>
    <th>Departure Airport</th>
    <th>Departure City</th> 
    <th>Arrival Airport</th>
    <th>Arrival City</th> 
    <th>Flight Status</th> 


{% for line in data %}
    <tr>
        <td>{{line['airline_name']}}</td>
        <td>{{line['flight_num']}}</td>
        <td>{{line['departure_date']}}</td>
        <td>{{line['arrival_date']}}</td>
        <td>{{line['departure_airport']}}</td> 
        <td>{{line['city']}}</td> 
        <td>{{line['arrival_airport']}}</td> 
        <td>{{line['arr_port.city']}}</td> 
        <td>{{line['flight_status']}}</td> 
    </tr>
{% endfor %} 
</table><br>

<h3>Search for All Customers on a Flight</h3>
    <form action="/airline_view_flights", method='POST|GET'>
        <input type = "text" name = "flight_num" placeholder = "Flight no." required/>
        <input type = "hidden" name = "action" value = "search_cust"/>
        <input type = "submit" value = "Search"/><br>
    </form>
  <br>
    <table>
        <td>Flight No.</td>
        <td>Customers</td>
  
    {% for line in data6 %}
        <tr>
            <td>{{line['flight_num']}}</td>
            <td>{{line['card_name']}}</td>
        </tr>
    {% endfor %}

    </table><br>
<br>

</body>
</html>