<html>
<head>
    <title>Welcome</title>
</head>
<body>
    <style type="text/css">
        h1, body{
            font-family: Verdana;
            font-style:  normal;
        }
        table{
            border: 1px solid lightsteelblue;
            font-family: Verdana;
        }
        th, td{
            border: 1px solid lightsteelblue;
            padding:  15px; 
            text-align: left;
        }
        tr:not(:first-child):hover{
            background-color: lightsteelblue;
        }

    </style>
    <h1>Welcome!</h1>
    <a href="/">Logout</a>
    <h2>Search all flights:</h2>
    <form action = "/customer_view_flights" method = "POST">
        <input type = "date" name = "departure_date" placeholder = "Departure Date"/>
        <input type = "date" name = "arrival_date" placeholder = "Arrival Date"/></br>
        <input type = "text" name = "departure_city" placeholder = "Departure City" pattern = "{1,20}"/>
        <input type = "text" name = "arrival_city" placeholder = "Arrival City" pattern = "{1,20}"/></br> 
        <input type = "text" name = "departure_airport" placeholder = "Departure Airport" pattern = "{1,20}"/>
        <input type = "text" name = "arrival_airport" placeholder = "Arrival Airport" pattern = "{1,20}"/></br>
        <input type = "submit" value = "Search" /></br>
    </form>

    <a href = "/customer_my_flights"><h2>View Your Flights</h2></a>

    <h2>Your Spending:</h2>
    <img src="{{ graph_image }}">
    <br>
    Update your graph:
    <form action="/customer_logged_in" method="POST">
        <input type = "date" name = "start_date" placeholder = "start date"/>
        <input type = "date" name = "end_date" placeholder = "end date"/>
        <input type = "hidden" name = "action" value = "update_graph"/>
        <input type = "submit" value = "Update" /><br>
    </form>


</body>
</html>